---
import Layout from "../layout/Layout.astro";

import SocialImage from "../assets/images/social.webp";
---

<Layout
  title="Example page"
  description="Example description"
  ogImage={SocialImage}
>
  <h1>About</h1>
</Layout>
