---
import Layout from "../layout/Layout.astro";
---

<Layout
  description="descripcion del index"
  copyrightText="C. Texto del copys"
  twitterUsername="@nombredeusuario"
  twitterDomain="www.dominio.com"
>
  <h1>Astro</h1>
</Layout>
