---
import Layout from "../layout/Layout.astro";
---

<Layout
  description="descripcion del index"
  copyrightText="C. Texto del copys"
  twitterUsername="@nombredeusuario"
  twitterDomain="www.dominio.com"
>
  <div class="flex flex-wrap gap-2">
    <h1 class="font-bold">Astro</h1>
    {
      [...Array(30)].map((item) => (
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, illum.
          Consectetur, officiis? Soluta quisquam delectus quod praesentium
          facilis eos dicta quos dolorem. Sunt maiores reprehenderit, deleniti
          quibusdam cupiditate nulla distinctio.
        </p>
      ))
    }
  </div>
</Layout>
